.btn-unlike:hover {
    background-color: #ef5350 !important;
}

.btn-like:hover {
    background-color: #4caf50 !important;
}

html, body {  
    height: 100%;
    padding: 0;
    margin: 0;
}

body {  
    background-size: cover;
    background-color: rgba(0,0,0,.5);
}

.container {
    
}

.quote-container {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(70, 70, 70, 0.8);
}

.quote-container .quote-text {
    font-family: 'Alegreya', serif !important;
    font-size: 4em !important;
}

.quote-container .quote-author {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 1.2em !important;
}